 <br>

<div class="content-item">
  
  <div class="overlay"></div>
  
  <div class="corner-overlay-content">看結果</div>
  
  <div class="overlay-content">
    <% if @east_votes > @west_votes %>
 <p> <%= "獲得最高票的餐廳是 東軍的" + @east.name %> </p><hr>
  <h2><%= "恭喜抽中免費晚餐的是 " + @east_lotto_winner + "，已寄免費餐卷到" + @east_lotto_winner.email %> </p>

<% elsif @east_votes < @west_votes %>
  <p><%= "獲得最高票的餐廳是 西軍的" + @west.name %> </p>
  <h2><%= "恭喜抽中免費晚餐的是 " + @west_lotto_winner + "，已寄免費餐卷到" + @west_lotto_winner.email %> </p>

<% elsif @east_votes = @west_votes %>
  <p><%= "恭喜兩家餐廳不分上下獲得同樣的票數！" %> </p>
  <h2><%= "但此次投票不抽獎，不要難過，下次再來！" %> </h2>
  
<% end %>  
</div>


